@import '../../../styles//variables';

.input {
  position: relative;
  font-family: inherit;
  width: 100%;
  border: 1px solid $color-neutral-grayish-blue;
  border-radius: 5px;
  padding: 2rem 3rem;
  font-size: 1.4rem;
  outline: none;
  transition: border-color 0.2s ease;

  &::placeholder {
    font-weight: 600;
  }

  &:focus {
    border-color: $color-neutral-dark-blue;
  }

  &.invalid {
    outline: 2px solid $color-primary-red;
    border-color: transparent;
    background-image: url('../../../assets/images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: right 1rem bottom 50%;
  }
}
