@import '../styles/variables';

.app {
  max-width: 100%;
  min-height: 100vh;
  background-color: $color-primary-red;
  background-image: url('../assets/images/bg-intro-desktop.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7rem;

  @media only screen and (max-width: 68.75em) {
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
  }
}
